*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/settings.gradle
/gradlew
/gradlew.bat
/gradle.properties
/build.gradle
.DS_Store
/build
/captures
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
.externalNativeBuild
.cxx
local.properties
